doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='')
    link(rel='stylesheet', href='css/main.css')
  body
    main
      ul
        li
          a( class="start" href="app.html") Spiel starten
        li
          a(href="#") Credits
        li
          a(href="#") About
          
    script(src='js/min/functions-min.js', type='text/javascript')
