doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='')
    link(rel='stylesheet', href='css/main.css')
  body
    .wrapper
      .top
        h1 половой член
      .messages
        .p1
          .text
            p Hallo? SOS!! Ist da jemand? 🆘
        
            
      .answer
        .a1

        .a2

          
  
  
  
  
  
  
  
  
  
  
  
    script(src='js/min/functions-min.js', type='text/javascript')
